## Initializations, Class Definitions and Type Declarations

In [ ]:
from DataFrame import DataFrame
from CountVectorizer import CountVectorizer
from MultinomialNB import MultinomialNB,get_accuracy, cross_val_score
import numpy as np
from math import log, exp, sqrt, pow

rs = 42

## Read Data
Here The data file is expected to be at the root directory

In [ ]:
df = DataFrame()
df.read_csv('trg.csv')

In [ ]:
df.head()

array([['1', 'B',
        '"the 4 202 353 bp genome of the alkaliphilic bacterium bacillus halodurans c-125 contains 4066 predicted protein coding sequences cdss 2141 527 of which have functional assignments 1182 29 of which are conserved cdss with unknown function and 743 18 3 of which have no match to any protein database among the total cdss 88 match sequences of proteins found only in bacillus subtilis and 667 are widely conserved in comparison with the proteins of various organisms including bsubtilis the b halodurans genome contains 112 transposase genes indicating that transposases have played an important evolutionary role in horizontal gene transfer and also in internal genetic rearrangement in the genome strain c-125 lacks some of the necessary genes for competence such as coms srfa and rapc supporting the fact that competence has not been demonstrated experimentally in c-125 there is no paralog of tupa encoding teichuronopeptide which contributes to alkaliphily in the c-125 genome and an ortholog of tupa cannot be found in the bsubtilis genome out of 11 sigma factors which belong to the extracytoplasmic function family 10 are unique to b halodurans suggesting that they may have a role in the special mechanism of adaptation to an alkaline environment"'],
       ['2', 'A',
        '"the complete 1751377-bp sequence of the genome of the thermophilic archaeon methanobacterium thermoautotrophicum deltah has been determined by a whole-genome shotgun sequencing approach a total of 1855 open reading frames orfs have been identified that appear to encode polypeptides 844 46 of which have been assigned putative functions based on their similarities to database sequences with assigned functions a total of 514 28 of the orf-encoded polypeptides are related to sequences with unknown functions and 496 27 have little or no homology to sequences in public databases comparisons with eucarya- bacteria- and archaea-specific databases reveal that 1013 of the putative gene products 54 are most similar to polypeptide sequences described previously for other organisms in the domain archaea comparisons with the methanococcus jannaschii genome data underline the extensive divergence that has occurred between these two methanogens only 352 19 of m thermoautotrophicum orfs encode sequences that are 50 identical to m jannaschii polypeptides and there is little conservation in the relative locations of orthologous genes when the m thermoautotrophicum orfs are compared to sequences from only the eucaryal and bacterial domains 786 42 are more similar to bacterial sequences and 241 13 are more similar to eucaryal sequences the bacterial domain-like gene products include the majority of those predicted to be involved in cofactor and small molecule biosyntheses intermediary metabolism transport nitrogen fixation regulatory functions and interactions with the environment most proteins predicted to be involved in dna metabolism transcription and translation are more similar to eucaryal sequences gene structure and organization have features that are typical of the bacteria including genes that encode polypeptides closely related to eucaryal proteins there are 24 polypeptides that could form two-component sensor kinase-response regulator systems and homologs of the bacterial hsp70-response proteins dnak and dnaj which are notably absent in m jannaschii dna replication initiation and chromosome packaging in m thermoautotrophicum are predicted to have eucaryal features based on the presence of two cdc6 homologs and three histones however the presence of an ftsz gene indicates a bacterial type of cell division initiation the dna polymerases include an x-family repair type and an unusual archaeal b type formed by two separate polypeptides the dna-dependent rna polymerase rnap subunits a\' a b\' b and h are encoded in a typical archaeal rnap operon although a second a\' subunit-encoding gene is present at a remote location there are two rrna operons and 39 trna genes are dispersed around the genome although most of these occur in clusters three of the trna genes have introns including the trnapro ggg gene which contains a second intron at an unprecedented location there is no selenocysteinyl-trna gene nor evidence for classically organized is elements prophages or plasmids the genome contains one intein and two extended repeats 36 and 86 kb that are members of a family with 18 representatives in the m jannaschii genome"'],
       ['3', 'E',
        '"in 1992 we started assembling an ordered library of cosmid clones from chromosome xiv of the yeast saccharomyces cerevisiae at that time only 49 genes were known to be located on this chromosome and we estimated that 80 to 90 of its genes were yet to be discovered in 1993 a team of 20 european laboratories began the systematic sequence analysis of chromosome xiv the completed and intensively checked final sequence of 784328 base pairs was released in april 1996 substantial parts had been published before or had previously been made available on request the sequence contained 419 known or presumptive protein-coding genes including two pseudogenes and three retrotransposons 14 trna genes and three small nuclear rna genes for 116 30 protein-coding sequences one or more structural homologues were identified elsewhere in the yeast genome half of them belong to duplicated groups of 6-14 loosely linked genes in most cases with conserved gene order and orientation relaxed interchromosomal synteny we have considered the possible evolutionary origins of this unexpected feature of yeast genome organization"'],
       ['4', 'E',
        '"the aim of this study is to measure human mitochondrial sequence variability in the relatively slowly evolving mitochondrial gene cytochrome oxidase subunit ii coii and to estimate when the human common ancestral mitochondrial type existed new coii gene sequences were determined for five humans homo sapiens including some of the most mitochondrially divergent humans known for two pygmy chimpanzees pan paniscus and for a common chimpanzee p troglodytes coii sequences were analyzed with those from another relatively slowly evolving mitochondrial region nd4-5 from class 1 third codon position sequence data a relative divergence date for the human mitochondrial ancestor is estimated as 127 th of the human-chimpanzee divergence time if it is assumed that humans and chimpanzees diverged 6 mya this places a human mitochondrial ancestor at 222000 years significantly different from 1 myr the presumed time of an h erectus emergence from africa the mean coalescent time estimated from all 1580 sites of combined mitochondrial data when a 6-mya human-chimpanzee divergence is assumed is 298000 years with 95 confidence interval of 129000-536000 years neither estimate is compatible with a 1-myr-old human mitochondrial ancestor the mitochondrial dna sequence data from coii and nd4-5 regions therefore do not support this multiregional hypothesis for the emergence of modern humans"'],
       ['5', 'B',
        '"the amino acid sequence of the spirulina maxima ferredoxin was shown to be h2n-ala-thr-tyr-lys-val-thr-leu-ile-ser-glu-ala-glu-gly-ile-asn-glu-thr-ile-asp-cys-asp-asp-asp-thr-tyr-ile-leu-asp-ala-ala-glu-glu-ala-gly-leu-asp-leu-pro-tyr-ser-cys-arg-ala-gly-ala-cys-ser-thr-cys-ala-gly-lys-ile-thr-ser-gly-ser-ile-asp-gln-ser-asp-gln-ser-phe-leu-asp-asp-asp-gln-ile-gln-ala-gly-tyr-val-leu-thr-cys-val-ala-tyr-pro-thr-ser-asp-cys-thr-ile-gln-thr-his-gln-glu-glu-gly-leu-tyr-cooh the s maxima ferredoxin is the first procaryote ferredoxin of the plant-algal type to be reported a modification of the automated sequence determination of a peptide which was extracted by the organic solvents used to remove excess reagents and the amino acid thiazoline was utilized to complete the sequence of a 36 residue tryptic peptide"']],
      dtype='<U3157')

## Train Test Split

In [ ]:
X_raw = df.get_col(2)
y = df.get_col(1)
train, val = df.train_test_split()
X_train_raw = train.get_col(2)
X_val_raw = val.get_col(2)
y_train = train.get_col(1)
y_val = val.get_col(1)

<ipython-input-2-9ff57ad9f583>:136: FutureWarning: Using a non-tuple sequence for multidimensional indexing is deprecated; use `arr[tuple(seq)]` instead of `arr[seq]`. In the future this will be interpreted as an array index, `arr[np.array(seq)]`, which will result either in an error or a different result.
  return self.data[rows]

## Vectorization

Vectorization uses a list of stopwords. The stopwords should be a txt file at the root directory

In [ ]:
vectorizer = CountVectorizer(stop_words=np.genfromtxt('stopwords.txt', dtype = str), max_features=1000)

In [ ]:
vectorizer.fit(X_raw)
vec_X_train, idf_train = vectorizer.transform(X_train_raw, tf_idf=True)
vec_X, idf = vectorizer.transform(X_raw, tf_idf=True)

<ipython-input-2-9ff57ad9f583>:47: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  D = np.array(D, dtype=np.float)

In [ ]:
vec_X_train

array([[0, 0, 0, ..., 0, 0, 0],
       [3, 0, 1, ..., 0, 0, 0],
       [0, 3, 1, ..., 0, 0, 0],
       ...,
       [0, 2, 2, ..., 0, 0, 0],
       [0, 1, 6, ..., 0, 0, 0],
       [12, 3, 2, ..., 0, 0, 0]], dtype=object)

## MultinomialNB

### Max Features = 1000, no TF_IDF

In [ ]:
model = MultinomialNB()
model.fit(vec_X_train, y_train)

In [ ]:
predictions_on_train = model.predict(vec_X_train)

In [ ]:
get_accuracy(predictions_on_train, y_train, verbose = True)

Correct: 2833	Accuracy: 88.5312%

0.8853125

In [ ]:
vec_X_val = vectorizer.transform(X_val_raw)

In [ ]:
predictions_on_val = model.predict(vec_X_val)

In [ ]:
get_accuracy(predictions_on_val, y_val, verbose = True)

Correct: 692	Accuracy: 86.5000%

0.865

#### Repeated Cross Validation
16 times repeated cross validation, dataset is shuffled randomly each time before cross validation. See `MultinomialNB` class for cross validation method implementation.

In [ ]:
rep = 16
results = np.zeros(rep)
for i in range(rep):
    index_list = np.arange(len(df.data))
    np.random.default_rng(rs*(i+1)).shuffle(index_list)
    vec_X_shuffled = vec_X[index_list]
    vec_Y_shuffled = y[index_list]
    results[i]=np.mean(cross_val_score(vec_X_shuffled, vec_Y_shuffled))
results

array([0.87425, 0.873  , 0.87475, 0.87025, 0.872  , 0.87325, 0.872  ,
       0.8685 , 0.87175, 0.8705 , 0.87275, 0.8735 , 0.87   , 0.87175,
       0.867  , 0.87225])

In [ ]:
print(f'mean: {np.mean(results)}\tstd: {np.std(results)}')

mean: 0.87171875	std: 0.0019919270663103566

### Use TF_IDF, Max Features = 1000

In [ ]:
model_tf_idf = MultinomialNB()
model_tf_idf.fit(vec_X_train, y_train, idf = idf)

In [ ]:
predictions_tf_idf = model_tf_idf.predict(vec_X_train)

In [ ]:
get_accuracy(predictions_tf_idf, y_train)

0.89625

#### Repeated Cross Validation

In [ ]:
rep = 16
results_tf_idf = np.zeros(rep)
for i in range(rep):
    index_list = np.arange(len(df.data))
    np.random.default_rng().shuffle(index_list)
    vec_X_shuffled = vec_X[index_list]
    vec_Y_shuffled = y[index_list]
    results_tf_idf[i]=np.mean(cross_val_score(vec_X_shuffled, vec_Y_shuffled, idf))
results_tf_idf

array([0.8875 , 0.8845 , 0.8845 , 0.88575, 0.884  , 0.887  , 0.88725,
       0.88675, 0.885  , 0.88675, 0.8845 , 0.885  , 0.88725, 0.88625,
       0.888  , 0.88525])

In [ ]:
print(f'mean: {np.mean(results_tf_idf)}\tstd: {np.std(results_tf_idf)}')

mean: 0.8859531250000001	std: 0.0012475562048961737

## Use scipy to do hypotheses testing

In [ ]:
from scipy.stats import sem, t
mean1 = 0.87171875	
mean2 = 0.8732656249999999	
std1=0.0019919270663103566
std2=0.0008075268474639141

n1, n2 = 16, 16
se1, se2 = std1/sqrt(n1), std2/sqrt(n2)

se1, se2 = sem(results), sem(results_tf_idf)

sed = sqrt(se1**2.0 + se2**2.0)

t_stat = (mean1 - mean2) / sed
df = 30

alpha = 0.05
cv = t.ppf(1.0 - alpha, df)

p = (1 - t.cdf(abs(t_stat), df)) * 2

P value

In [ ]:
p

0.016157454136917826